@using HallOfBeorn.Models
@using HallOfBeorn.Models.LotR
@using HallOfBeorn.Models.LotR.ViewModels
@model CharacterViewModel

@{
    ViewBag.Title = @Model.Title;
}

<div style="font-size:1.75em;font-family:Verdana;">@Model.Title</div>

<div style="display: block;">
    <div style="display: inline-block; vertical-align: top;">
        <img src="@Model.ImageUrl" style="max-width: 400px; margin: 4px;" class="card-image"/>
    </div>
    <div style="display: inline-block; vertical-align: top; margin: 4px 6px;">
        <div style="display: block; overflow: auto; height: 400px; width: 400px;">
            <div style="margin-top: -14px;">@Html.Raw(@Model.Bio)</div>
            <div><a href="@Model.BioSourceUrl" target="_blank" title="Source">Source</a></div>
        </div>
    </div>
</div>
@if (@Model.HasAliases) {
    <h3>Titles, Aliases, and Descriptions</h3>
    <div>
        @foreach (var alias in @Model.Aliases) {
            <span style="margin:4px 6px; display:inline-block">
                @if (!string.IsNullOrEmpty(@alias.Url)) {
                    <a href="@alias.Url" target="_blank" title="@alias.Title">@alias.Text</a>
                } else {
                    @alias.Text
                }
            </span>   
        }
    </div>
}

@if (@Model.HasFamily) {
    <h3>Family</h3>
    <div>
        @foreach (var family in @Model.Family) {
            <span style="margin:4px 6px; display:inline-block">
                @if (!string.IsNullOrEmpty(@family.Url)) {
                    <a href="@family.Url" target="_blank" title="@family.Title">@family.Text</a>
                } else {
                    @family.Text
                }
            </span>   
        }
    </div>   
}

<h3>Cards</h3>
<div>
    @foreach (var cardLink in @Model.CardLinks) {
        <span style="margin: 4px;display:inline-block;">
            <a href="@cardLink.Url" target="_blank" title="@cardLink.Title">@Html.Raw(@cardLink.Text)</a>
        </span>
    }
</div>