@using HallOfBeorn;
@using HallOfBeorn.Models
@using HallOfBeorn.Models.LotR
@using HallOfBeorn.Models.LotR.ViewModels
@model CharacterViewModel

@{
    ViewBag.Title = @Model.Title;
}

@if (@Model.IsListView) {
    var firstLetter = string.Empty;
    <div>
        <div class="list-left">
            <h2>Characters</h2>
            @foreach (var pair in @Model.AllCharacters()) {
                var checkFirst = pair.Key.Substring(0, 1).NormalizeCaseSensitiveString();
                if (checkFirst != firstLetter) {
                    <h4>@checkFirst</h4>
                }
                firstLetter = checkFirst;
                var charId = @pair.Key.Slugify();
                <div class="character-list-item"><a id="@charId" href="@pair.Value" title="@pair.Key">@pair.Key</a></div>
            }
        </div>
        <div class="list-right">
            <h2>Groups</h2>
            @foreach (var pair in @Model.AllGroups()) {
                var groupId = @pair.Key.Slugify();
                <div class="character-list-item"><a id="@groupId" href="@pair.Value" title="@pair.Key">@pair.Key</a></div>
            }
            <h2>Places</h2>
            @foreach (var pair in @Model.AllPlaces()) {
                var placeId = @pair.Key.Slugify();
                <div class="character-list-item"><a id="@placeId" href="@pair.Value" title="@pair.Key">@pair.Key</a></div>
            }
            <h2>Things</h2>
            @foreach (var pair in @Model.AllThings()) {
                var thingId = @pair.Key.Slugify();
                <div class="character-list-item"><a id="@thingId" href="@pair.Value" title="@pair.Key">@pair.Key</a></div>
            }
        </div>
    </div>
} else {
    <a href="/LotR/Characters#@Model.Slug" class="scenario-view-link">Back to Character List</a>
    <br />
    <br />
    <div>
        <span style="font-size: 1.75em;font-weight:bold;">@Model.Title</span>
        @if (!string.IsNullOrEmpty(@Model.Race)) {
            <span style="margin-left:12px;font-size: 1em;">@Model.Race</span>
        }
    </div>
    <div style="display: block;">
        <div style="display: inline-block; vertical-align: top;">
            <img src="@Model.ImageUrl" style="width: 300px; margin: 4px;" class="card-image"/>
        </div>
        <div style="display: inline-block; vertical-align: top; margin: 4px 6px;">
            <div style="display: inline-block; overflow: auto; height: 300px; min-width: 300px; max-width: 600px;">
                <div style="margin-top: -14px;">@Html.Raw(@Model.Bio)</div>
                <div><a href="@Model.BioSourceUrl" target="_blank" title="Source">Source</a></div>
            </div>
        </div>
    </div>
    <div><a style="color:gray;font-size:10px;" href="@Model.ArtistUrl" target="_blank" title="Artist Site: @Model.ArtistName">Illus. @Model.ArtistName</a></div>
    if (@Model.HasAliases) {
        <h3>Titles, Aliases, and Descriptions</h3>
        <div>
            @foreach (var alias in @Model.Aliases) {
                <span style="margin:4px 6px; display:inline-block">
                    @if (!string.IsNullOrEmpty(@alias.Url)) {
                        <a href="@alias.Url" target="_blank" title="@alias.Title">@alias.Text</a>
                    } else {
                        @alias.Text
                    }
                </span>   
            }
        </div>
    }

    if (@Model.HasPlaces) {
        <h3>Places</h3>
        <div>
            @foreach (var place in @Model.Places) {
                <span style="margin:4px 6px; display:inline-block">
                    @if (!string.IsNullOrEmpty(@place.Url)) {
                        <a href="@place.Url" title="@place.Title">@place.Text</a>
                    } else {
                        @place.Text
                    }
                </span>   
            }
        </div>   
    }
    
    if (@Model.HasLeaders) {
        <h3>Leaders</h3>
        <div>
            @foreach (var leader in @Model.Leaders) {
                <span style="margin:4px 6px; display:inline-block">
                    @if (!string.IsNullOrEmpty(@leader.Url)) {
                        <a href="@leader.Url" title="@leader.Title">@leader.Text</a>
                    } else {
                        @leader.Text
                    }
                </span>   
            }
        </div>   
    }
    
    if (@Model.HasMembers) {
        <h3>Members</h3>
        <div>
            @foreach (var member in @Model.Members) {
                <span style="margin:4px 6px; display:inline-block">
                    @if (!string.IsNullOrEmpty(@member.Url)) {
                        <a href="@member.Url" title="@member.Title">@member.Text</a>
                    } else {
                        @member.Text
                    }
                </span>   
            }
        </div>   
    }

    if (@Model.HasFamily) {
        <h3>Family</h3>
        <div>
            @foreach (var family in @Model.Family) {
                <span style="margin:4px 6px; display:inline-block">
                    @if (!string.IsNullOrEmpty(@family.Url)) {
                        <a href="@family.Url" title="@family.Title">@family.Text</a>
                    } else {
                        @family.Text
                    }
                </span>   
            }
        </div>   
    }

    if (@Model.HasFriends) {
        <h3>Friends and Associates</h3>
        <div>
            @foreach (var friend in @Model.Friends) {
                <span style="margin:4px 6px; display:inline-block">
                    @if (!string.IsNullOrEmpty(@friend.Url)) {
                        <a href="@friend.Url" title="@friend.Title">@friend.Text</a>
                    } else {
                        @friend.Text
                    }
                </span>   
            }
        </div>   
    }
    
    if (@Model.HasGroups) {
        <h3>Groups</h3>
        <div>
            @foreach (var group in @Model.Groups) {
                <span style="margin:4px 6px; display:inline-block">
                    @if (!string.IsNullOrEmpty(@group.Url)) {
                        <a href="@group.Url" title="@group.Title">@group.Text</a>
                    } else {
                        @group.Text
                    }
                </span>   
            }
        </div>   
    }
    
    if (@Model.HasItems) {
        <h3>Items, Mounts, and Actions</h3>
        <div>
            @foreach (var item in @Model.Items) {
                <span style="margin:4px 6px; display:inline-block">
                    @if (!string.IsNullOrEmpty(@item.Url)) {
                        <a href="@item.Url" title="@item.Title">@item.Text</a>
                    } else {
                        @item.Text
                    }
                </span>   
            }
        </div>   
    }

    if (@Model.HasArticles) {
        <h3>Articles</h3>
        <div>
            @foreach (var article in @Model.Articles) {
                <span style="margin: 4px 6px; display: inline-block">
                    <a href="@article.Url" title="@article.Title" target="_blank">@article.Text</a>
                </span>
            }
        </div>   
    }
    
    <h3>Cards</h3>
    <div>
        @foreach (var cardLink in @Model.CardLinks) {
            <span style="margin: 4px;display:inline-block;">
                <a href="@cardLink.Url" target="_blank" title="@cardLink.Title">@Html.Raw(@cardLink.Text)</a>
            </span>
        }
    </div>
}