@using HallOfBeorn.Models
@using HallOfBeorn.Models.LotR
@using HallOfBeorn.Models.LotR.ViewModels
@model ScenarioListViewModel

@{
    ViewBag.Title = "Scenarios";
}

@section scripts {
    <script type="text/javascript" src="/Scripts/highcharts.js" defer></script>
    <script type="text/javascript" src="/Scripts/scenarios-1.0.20.js" defer></script>
}

@if (@Model.Detail != null)
{
    <a href="/LotR/Scenarios#@Model.Detail.Slug" class="scenario-view-link">Back to Scenario List</a>
    <h2><a href="@Model.Detail.CardsLink" target="_blank">@Model.Detail.Title</a></h2>
    <div>
    @foreach (var questCard in @Model.Detail.QuestCards)
    {
        <div style="display:inline-block;">
            <div>
                <span>@questCard.StageNumber</span><span style="margin-left:2px;display:inline-block;"><a title="Details for @questCard.FullTitle" href="@questCard.Url">@questCard.FullTitle</a></span>
                @if (@questCard.IsNightmare)
                {
                    <span>[NIGHTMARE]</span>
                }   
            </div>
            <div>
                @if (@questCard.HasSecondImage)
                {
                    <span>
                        <img src="@questCard.ImagePath1" style="max-height:200px;"/>
                        <img src="@questCard.ImagePath2" style="max-height:200px;"/>
                    </span>
                }
                else
                {
                    <img src="@questCard.ImagePath" style="max-width:285px;max-height:400px;"/>
                }
            </div>
        </div>
    }
    </div>
    
    if (!string.IsNullOrEmpty(@Model.Detail.RulesUrl) || !string.IsNullOrEmpty(@Model.Detail.QuestCompanionUrl) || @Model.Detail.HasRulesImages || !string.IsNullOrWhiteSpace(@Model.Detail.FirstAgeApprovedList))
    {
        <h3>Resources</h3>
        if (@Model.Detail.HasRulesReference)
        {
            <div><a title="@Model.Detail.RulesReferenceLabel" href="@Model.Detail.RulesReferenceUrl" target="_blank">@Model.Detail.RulesReferenceLabel</a></div>
        } 
        if (!string.IsNullOrEmpty(@Model.Detail.RulesUrl))
        {
            <div style="margin:2px;"><a title="@Model.Detail.RulesLabel" href="@Model.Detail.RulesUrl" target="_blank">Rules Sheet</a></div>
        }
        if (@Model.Detail.HasRulesImages)
        {
            var ruleImageNumber = 0;
            @: <div style="margin:2px;"><span style="display:inline-block;margin: 2px 2px 2px 4px;">Rules: </span>
            foreach (var ruleImageLink in @Model.Detail.RulesImageLinks())
            {
                ruleImageNumber++;
                @: <a title="Rules Page @ruleImageNumber" href="@ruleImageLink" target="_blank" style="padding: 4px 6px 4px 6px;display:inline-block;">Page @ruleImageNumber</a>
            }
            @: </div>
        }
        if (!string.IsNullOrWhiteSpace(@Model.Detail.FirstAgeApprovedList))
        {
            <div><a title="First Age Approved List" href="@Model.Detail.FirstAgeApprovedList" target="_blank">First Age Approved List</a></div>
        }
        if (!string.IsNullOrEmpty(@Model.Detail.QuestCompanionUrl))
        {
            <div style="margin:2px;"><a title="@Model.Detail.Title on the Quest Companion" href="@Model.Detail.QuestCompanionUrl" target="_blank">Quest Companion</a></div>
        }  
        if (!string.IsNullOrEmpty(@Model.Detail.DifficultyHtml))
        {
            <div style="margin:2px;"><span class="scenario-difficulty" style="width: 300px;">Difficulty: @Html.Raw(@Model.Detail.DifficultyHtml)<span class='difficulty-votes'>(@Model.Detail.Votes)</span></span></div>
        }
    }
    
    if (@Model.Detail.HasPlayLinks)
    {
        @: <h3>Community Content</h3>
        <div style="margin: 4px;">
        @foreach (var link in @Model.Detail.PlayLinks)
        {
            <span style='display:inline-block;width:222px;margin: 4px 8px 4px 8px;border-width:1px;border-color:gray;border-style:solid;border-radius:6px;background-color:black'>
                <a href='@link.Url' target='_blank' title='@link.FullTitle'>
                    <span style='display:inline-block;width:220px;text-align:center;color:ghostwhite;'><b>@link.TypeName</b></span>
                    <span style='display:inline-block;width:220px;height:36px;text-align:center;color:ghostwhite;'>@link.Title</span>
                    @if (@link.HasThumbnail)
                    {
                        <span style="display:inline-block;width:220px;text-align:center;">
                            <img src='@link.ThumbnailUrl' height='@link.ThumbnailHeight px' width='@link.ThumbnailWidth px' title='@link.FullTitle'/>
                        </span>
                    } else {
                        <span style="display:inline-block;height:118px;width:220px;"></span>
                    }
                </a>
            </span>
        }
        </div>
    }
    
    if (@Model.Detail.CampaignCard != null)
    {
        <h3>Campaign Card</h3>
        <div><a title="@Model.Detail.CampaignCard.Title" href="@Model.Detail.CampaignCard.Link"><span style="display:inline-block;width:300px;">@Model.Detail.CampaignCard.Title</span></a></div>
    }
    <div style="margin-top:16px;margin-bottom:-8px;">
        <span style="display:inline-block;width:300px;font-weight:bold;">Title</span>
        <span style="display:inline-block;margin-left:4px;width:60px;font-weight:bold;">Normal</span>
        <span style="display:inline-block;margin-left:4px;width:60px;font-weight:bold;">Easy</span>
        <span style="display:inline-block;margin-left:4px;width:60px;font-weight:bold;">Nightmare</span>
    </div>
    <h3>Quest Cards</h3>
        foreach (var questCard in @Model.Detail.QuestCards)
        {
            <div>
                <a title="@questCard.FullTitle" href="@questCard.Url"><span style="display:inline-block;width:300px;">@questCard.StageNumber - @questCard.FullTitle</span></a>
                <span style="display:inline-block;margin-left:4px;width:60px;">@questCard.NormalQuantity</span>
                <span style="display:inline-block;margin-left:4px;width:60px;">@questCard.EasyQuantity</span>
                <span style="display:inline-block;margin-left:4px;width:60px;">@questCard.NightmareQuantity</span>
            </div>
        }
        <div />
        var lastEncounterSet = string.Empty;
        var normalTotal = 0;
        var easyTotal = 0;
        var nightmareTotal = 0;
        foreach (var scenarioCard in @Model.Detail.ScenarioCards)
        {
            normalTotal += scenarioCard.NormalCount;
            easyTotal += scenarioCard.EasyCount;
            nightmareTotal += scenarioCard.NightmareCount;
            if (@lastEncounterSet != @scenarioCard.EncounterSet)
            {
                <div><h3><a title="Search for @scenarioCard.EncounterSet" href="@scenarioCard.EncounterSetLink">@scenarioCard.EncounterSet</a><img style="margin-left:4px;width:20px;height:20px;" src="@scenarioCard.EncounterSetImage" /></h3></div>
            }
            <div>
                <a title="@scenarioCard.Title" href="@scenarioCard.Link"><span style="display:inline-block;width:300px;">@scenarioCard.Title</span></a>
                <span style="display:inline-block;margin-left:4px;width:60px;">@scenarioCard.NormalQuantity</span>
                <span style="display:inline-block;margin-left:4px;width:60px;">@scenarioCard.EasyQuantity</span>
                <span style="display:inline-block;margin-left:4px;width:60px;">@scenarioCard.NightmareQuantity</span>
            </div>
    
            lastEncounterSet = scenarioCard.EncounterSet;
        }
        <br />
        <div>
            <span style="display:inline-block;width:300px;"><b>Total Encounter Cards</b></span>
            <span style="display:inline-block;margin-left:4px;width:60px;">@normalTotal</span>
            <span style="display:inline-block;margin-left:4px;width:60px;">@easyTotal</span>
            <span style="display:inline-block;margin-left:4px;width:60px;">@nightmareTotal</span>
        </div>
    <br />
    <br />
    <button id="toggleChart">Show Chart</button>
    <div style="margin-top:40px;display:none;" id="chartContainer"></div>
}
else {
    if (@Model.View.HasValue && @Model.View.Value == ScenarioView.Map) {
        <a href="/LotR/Scenarios?View=List" class="scenario-view-link">List View</a>
        <a href="/LotR/Scenarios?View=Charts" class="scenario-view-link">Charts View</a>
    } else if (@Model.View.HasValue && @Model.View.Value == ScenarioView.Charts) {
        <a href="/LotR/Scenarios?View=List" class="scenario-view-link">List View</a>
        <a href="/LotR/Scenarios?View=Map" class="scenario-view-link">Map View</a> 
    } else {
        <a href="/LotR/Scenarios?View=Map" class="scenario-view-link">Map View</a>
        <a href="/LotR/Scenarios?View=Charts" class="scenario-view-link">Charts View</a>
    }
    <br />
    <h2>Scenarios</h2>
    
    if (@Model.View.HasValue && @Model.View.Value == ScenarioView.Map) {
        <div id="map-tooltip" class="tooltip" style="display:none; opacity: 0.8">
            <div id="tooltip-title" style="text-align:center; font-size: 1.25em;font-weight:bold;"></div>
            <div id="tooltip-text" style="font-style: italic; font-size: 1em;max-width:288px;padding:2px 4px 2px 4px;"></div>
            <a id="tooltip-link" href="/" target="_blank"><img src="/" id="tooltip-image" style="display:none;max-height:200px;padding:2px 4px 2px 4px;"/></a>
        </div>
        <!-- <img id="quest-map" alt="Middle-earth Quest Map" src="@Model.QuestMapUrl" /> -->
        <canvas id="quest-map" width="1500" height="1125" style="background-image:url('@Model.QuestMapUrl');"></canvas>
    } else if (@Model.View.HasValue && @Model.View.Value == ScenarioView.Charts) {
        <div id="chartsContainer">
            <div><button id="easyModeButton" class="inactiveButton">Easy</button><button id="normalModeButton" class="activeButton">Normal</button><button id="nightmareModeButton" class="inactiveButton">Nightmare</button></div>
            <div style="margin-top:40px;" id="coreTotalsContainer"></div>
            <div style="margin-top:40px;" id="kdTotalsContainer"></div>
            <div style="margin-top:40px;" id="honTotalsContainer"></div>
            <div style="margin-top:40px;" id="voiTotalsContainer"></div>
            <div style="margin-top:40px;" id="tlrTotalsContainer"></div>
            <div style="margin-top:40px;" id="tghTotalsContainer"></div>
            <div style="margin-top:40px;" id="tsohTotalsContainer"></div>
            <div style="margin-top:40px;" id="tworTotalsContainer"></div>
            <div style="margin-top:40px;" id="asiteTotalsContainer"></div>
            <div style="margin-top:40px;" id="hobbitTotalsContainer"></div>
            <div style="margin-top:40px;" id="lotrTotalsContainer"></div>
            <div style="margin-top:40px;" id="genConTotalsContainer"></div>
            <div style="margin-top:40px;" id="fellowshipTotalsContainer"></div>
            @* <div style="margin-top:40px;" id="scenarioPackTotalsContainer"></div> *@
            <div style="margin-top:40px;" id="firstAgeTotalsContainer"></div>
            <div style="margin-top:40px;" id="coeTotalsContainer"></div>
        </div>
    } else {
        <div>
            <div class="list-left">
                @foreach (var scenarioGroup in @Model.ScenarioStandardGroups())
                {
                    <div><h3>@scenarioGroup.Name</h3></div>
                    var lastProduct = string.Empty;
                    foreach (var scenario in @scenarioGroup.Scenarios)
                    {
                        if (@scenario.ProductName != lastProduct && @scenario.IsSubGroup) {
                            <div class="scenario-sub-group">@scenario.ProductName</div>
                        }
                        lastProduct = scenario.ProductName;
                        <div>
                            <span class="scenario-title"><a id="@scenario.Slug" title="Details for @scenario.Title" href="@scenario.Link">@scenario.Title</a></span>
                            @if (!string.IsNullOrEmpty(@scenario.DifficultyHtml))
                            {
                                <span class="scenario-difficulty">@Html.Raw(@scenario.DifficultyHtml)</span>
                            }
                        </div>
                    }
                }
            </div>
            <div class="list-right">
                @foreach (var scenarioGroup in @Model.ScenarioSagaGroups())
                {
                    <div><h3>@scenarioGroup.Name</h3></div>
                    var lastProduct = string.Empty;
                    foreach (var scenario in @scenarioGroup.Scenarios)
                    {
                        if (@scenario.ProductName != lastProduct && @scenario.IsSubGroup) {
                            <div class="scenario-sub-group">@scenario.ProductName</div>
                        }
                        lastProduct = scenario.ProductName;
                        <div>
                            <span class="scenario-title"><a title="Details for @scenario.Title" href="@scenario.Link">@scenario.Title</a></span>
                            @if (!string.IsNullOrEmpty(@scenario.DifficultyHtml))
                            {
                                <span class="scenario-difficulty">@Html.Raw(@scenario.DifficultyHtml)</span>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    }
}