@using HallOfBeorn.Models
@model BrowseViewModel

@{
    ViewBag.Title = "Browse";
}

<h2>Browse</h2>

@foreach (var productGroup in @Model.ProductGroups)
{
    if (productGroup.MainProduct != null)
    {
        <div style="text-align:center;margin-top:20px;">
            <a title="@productGroup.MainProduct.Name (@productGroup.MainProduct.Code)" href="@productGroup.MainProduct.Link"><img src="@productGroup.MainProduct.ImagePath" style="height:@productGroup.MainProduct.ImageHeight;width:@productGroup.MainProduct.ImageWidth;"/></a>
           
            @if (productGroup.MainProduct.HasBuyLink) {
                @Html.Raw(@productGroup.MainProduct.BuyLink);
            }
            @*
            <div style="margin-top:4px;margin-bottom:4px;">
                @foreach (var scenario in productGroup.MainProduct.Scenarios)
                {
                    <div><a title="@scenario.Title" href="@scenario.Link">@scenario.Title</a></div>
                }
            </div>*@
        </div>
    }
    
    <div style="text-align:center;"><h3>@productGroup.Name</h3></div>
    
    <div style="text-align:center;">
    @{var lastProductWasPremier = false;}
    @foreach (var product in productGroup.ChildProducts)
    {
        if (lastProductWasPremier && !product.IsPremier || product.IsNewSubGroup) {
            <div/>
        }
        
        lastProductWasPremier = product.IsPremier;
        
        <div style="display:inline-block;margin-left:4px;margin-right:4px;margin-top:6px;margin-bottom:6px;">
            <a title="@product.Name (@product.Code)" href="@product.Link"><img src="@product.ImagePath" style="height:@product.ImageHeight;width:@product.ImageWidth;"/></a>

            @if (product.HasBuyLink) {
                <span style="display:inline-block;margin-right: 20px;">
                @Html.Raw(@product.BuyLink);
                </span>
            }
            @*
            <div style="margin-top:4px;margin-bottom:4px;">
                @foreach (var scenario in product.Scenarios)
                {
                    <div><a title="@scenario.Title" href="@scenario.Link">@scenario.Title</a></div>
                }
            </div>*@
        </div>
    }
    </div>
}