@using HallOfBeorn.Models
@model SearchViewModel

@{
    ViewBag.Title = "Lord of the Rings: The Card Game - Search";
}

@section scripts {
<script type="text/javascript" src="~/Scripts/cardSearch.js"></script>
<script type="text/javascript" src="~/Scripts/autocomplete12.js"></script>
<script type="text/javascript">
    $(function () {
        $("#Query").autocomplete({
            source: autocompleteSource,
            minLength: 2
        });
        $("#Query").autocomplete("widget").addClass("autocompleteClass");
    });
</script>    
}

@*<h2>Search</h2>*@

@using (Html.BeginForm("Search", "Cards", FormMethod.Post))
{
    <div class="form-group">
        <div style="margin-bottom:10px;">
            <div style="display:inline-block;min-width:300px;margin-right:4px;">@Html.TextBoxFor(x => x.Query, new { style = "text-align:left;width:95%;margin-right:4px;" })</div>
            <div style="display:inline-block;">
                <input type="submit" value="Search" style="margin-left:6px;border-radius:8px;background-color:lightgray;" />
                <a id="resetButton" href="#" style="margin-left:6px;margin-right:28px;width:70px;">Clear</a>
                <span style="display:inline-block;">
                <span class="search-label-right">Sort</span>
                @Html.DropDownListFor(x => x.Sort, SearchViewModel.Sorts, new { @class = "search-select-medium" })
                </span>
            </div>
        </div>
        
        <div class="search-row">
            <div class="search-section">Set</div>
            <div class="search-items">
                <span class="search-filter">
                <span class="search-label-short">Card Set</span>
                @Html.DropDownList("CardSet", SearchViewModel.CardSets, new { @class = "search-select" })
            @*        
                <select class="search-select" id="CardSet" name="CardSet"><option selected="selected" value="Any">Any</option>
<option value="Core Set" class="set-core">Core Set</option>
<option value="Shadows of Mirkwood" class="set-cycle">SHADOWS OF MIRKWOOD CYCLE</option>
<option value="The Hunt for Gollum" class="set-ap">The Hunt for Gollum</option>
<option value="Conflict at the Carrock" class="set-ap">Conflict at the Carrock</option>
<option value="A Journey To Rhosgobel" class="set-ap">A Journey To Rhosgobel</option>
<option value="The Hills of Emyn Muil" class="set-ap">The Hills of Emyn Muil</option>
<option value="The Dead Marshes" class="set-ap">The Dead Marshes</option>
<option value="Return to Mirkwood" class="set-ap">Return to Mirkwood</option>
<option value="" disabled="disabled">————————————————————</option>
<option value="Khazad-dûm" class="set-expansion">Khazad-dûm</option>
<option value="Dwarrowdelf" class="set-cycle">DWARROWDELF CYCLE</option>
<option value="The Redhorn Gate" class="set-ap">The Redhorn Gate</option>
<option value="Road to Rivendell" class="set-ap">Road to Rivendell</option>
<option value="The Watcher in the Water" class="set-ap">The Watcher in the Water</option>
<option value="The Long Dark" class="set-ap">The Long Dark</option>
<option value="Foundations of Stone" class="set-ap">Foundations of Stone</option>
<option value="Shadow and Flame" class="set-ap">Shadow and Flame</option>
<option value="" disabled="disabled">————————————————————</option>
<option value="Heirs of Númenor" class="set-expansion">Heirs of Númenor</option>
<option value="Against the Shadow" class="set-cycle">AGAINST THE SHADOW CYCLE</option>
<option value="The Steward's Fear" class="set-ap">The Steward's Fear</option>
<option value="The Drúadan Forest" class="set-ap">The Drúadan Forest</option>
<option value="Encounter at Amon Dîn" class="set-ap">Encounter at Amon Dîn</option>
<option value="Assault on Osgiliath" class="set-ap">Assault on Osgiliath</option>
<option value="The Blood of Gondor" class="set-ap">The Blood of Gondor</option>
<option value="The Morgul Vale" class="set-ap">The Morgul Vale</option>
<option value="" disabled="disabled">————————————————————</option>
<option value="The Voice of Isengard" class="set-expansion">The Voice of Isengard</option>
<option value="The Ring-maker" class="set-cycle">THE RING-MAKER CYCLE</option>
<option value="The Dunland Trap" class="set-ap">The Dunland Trap</option>
<option value="The Three Trials" class="set-ap">The Three Trials</option>
<option value="Trouble in Tharbad" class="set-ap">Trouble in Tharbad</option>
<option value="The Nîn-in-Eilph" class="set-ap">The Nîn-in-Eilph</option>
<option value="Celebrimbor's Secret" class="set-ap">Celebrimbor's Secret</option>
<option value="The Antlered Crown" class="set-ap">The Antlered Crown</option>
<option value="" disabled="disabled">————————————————————</option>
<option value="The Lost Realm" class="set-expansion">The Lost Realm</option>
<option value="Angmar Awakened" class="set-cycle">ANGMAR AWAKENED CYCLE</option>
<option value="The Wastes of Eriador" class="set-ap">The Wastes of Eriador</option>
<option value="Escape from Mount Gram" class="set-ap">Escape from Mount Gram</option>
<option value="Across the Ettenmoors" class="set-ap">Across the Ettenmoors</option>
<option value="The Treachery of Rhudaur" class="set-ap">The Treachery of Rhudaur</option>
<option value="The Battle of Carn Dûm" class="set-ap">The Battle of Carn Dûm</option>
<option value="The Dread Realm" class="set-ap">The Dread Realm</option>
<option value="" disabled="disabled">————————————————————</option>
<option value="The Grey Havens" class="set-expansion">The Grey Havens</option>
<option value="" disabled="disabled">————————————————————</option>
<option value="The Hobbit" class="set-cycle">THE HOBBIT</option>
<option value="The Hobbit: Over Hill and Under Hill" class="set-saga">The Hobbit: Over Hill and Under Hill</option>
<option value="The Hobbit: On the Doorstep" class="set-saga">The Hobbit: On the Doorstep</option>
<option value="" disabled="disabled">————————————————————</option>
<option value="The Lord of the Rings" class="set-cycle">THE LORD OF THE RINGS</option>
<option value="The Black Riders" class="set-saga">The Black Riders</option>
<option value="The Road Darkens" class="set-saga">The Road Darkens</option>
<option value="The Treason of Saruman" class="set-saga">The Treason of Saruman</option>
<option value="The Land of Shadow" class="set-saga">The Land of Shadow</option>
<option value="" disabled="disabled">————————————————————</option>
<option value="GenCon" class="set-cycle">GENCON & FELLOWSHIP</option>
<option value="The Massing at Osgiliath" class="set-pod">The Massing at Osgiliath</option>
<option value="The Battle of Lake-town" class="set-pod">The Battle of Lake-town</option>
<option value="The Stone of Erech" class="set-pod">The Stone of Erech</option>
<option value="The Ruins of Belegost" class="set-pod">The Ruins of Belegost</option>
<option value="The Old Forest" class="set-pod">The Old Forest</option>
<option value="Fog on the Barrow-downs" class="set-pod">Fog on the Barrow-downs</option>
<option value="Murder at the Prancing Pony" class="set-pod">Murder at the Prancing Pony</option>
<option value="" disabled="disabled">————————————————————</option>
<option value="NIGHTMARE" class="set-cycle">NIGHTMARE</option>
<option value="Passage Through Mirkwood Nightmare" class="set-pod">Passage Through Mirkwood Nightmare</option>
<option value="Journey Along the Anduin Nightmare" class="set-pod">Journey Along the Anduin Nightmare</option>
<option value="Escape From Dol Guldur Nightmare" class="set-pod">Escape From Dol Guldur Nightmare</option>
<option value="The Hunt for Gollum Nightmare" class="set-pod">The Hunt for Gollum Nightmare</option>
<option value="Conflict at the Carrock Nightmare" class="set-pod">Conflict at the Carrock Nightmare</option>
<option value="A Journey to Rhosgobel Nightmare" class="set-pod">A Journey to Rhosgobel Nightmare</option>
<option value="The Hills of Emyn Muil Nightmare" class="set-pod">The Hills of Emyn Muil Nightmare</option>
<option value="The Dead Marshes Nightmare" class="set-pod">The Dead Marshes Nightmare</option>
<option value="Return to Mirkwood Nightmare" class="set-pod">Return to Mirkwood Nightmare</option>
<option value="" disabled="disabled">————————————————————</option>
<option value="Into the Pit Nightmare" class="set-pod">Into the Pit Nightmare</option>
<option value="The Seventh Level Nightmare" class="set-pod">The Seventh Level Nightmare</option>
<option value="Flight from Moria Nightmare" class="set-pod">Flight from Moria Nightmare</option>
<option value="The Redhorn Gate Nightmare" class="set-pod">The Redhorn Gate Nightmare</option>
<option value="Road to Rivendell Nightmare" class="set-pod">Road to Rivendell Nightmare</option>
<option value="The Watcher in the Water Nightmare" class="set-pod">The Watcher in the Water Nightmare</option>
<option value="The Long Dark Nightmare" class="set-pod">The Long Dark Nightmare</option>
<option value="Foundations of Stone Nightmare" class="set-pod">Foundations of Stone Nightmare</option>
<option value="Shadow and Flame Nightmare" class="set-pod">Shadow and Flame Nightmare</option>
<option value="" disabled="disabled">————————————————————</option>
<option value="Peril in Pelargir Nightmare" class="set-pod">Peril in Pelargir Nightmare</option>
<option value="Into Ithilien Nightmare" class="set-pod">Into Ithilien Nightmare</option>
<option value="The Siege of Cair Andros Nightmare" class="set-pod">The Siege of Cair Andros Nightmare</option>
<option value="The Steward's Fear Nightmare" class="set-pod">The Steward's Fear Nightmare</option>
<option value="The Drúadan Forest Nightmare" class="set-pod">The Drúadan Forest Nightmare</option>
<option value="Encounter at Amon Dîn Nightmare" class="set-pod">Encounter at Amon Dîn Nightmare</option>
<option value="Assault on Osgiliath Nightmare" class="set-pod">Assault on Osgiliath Nightmare</option>
<option value="The Blood of Gondor Nightmare" class="set-pod">The Blood of Gondor Nightmare</option>
<option value="The Morgul Vale Nightmare" class="set-pod">The Morgul Vale Nightmare</option>
<option value="" disabled="disabled">————————————————————</option>
<option value="The Fords of Isen Nightmare" class="set-pod">The Fords of Isen Nightmare</option>
<option value="To Catch an Orc Nightmare" class="set-pod">To Catch an Orc Nightmare</option>
<option value="Into Fangorn Nightmare" class="set-pod">Into Fangorn Nightmare</option>
<option value="The Dunland Trap Nightmare" class="set-pod">The Dunland Trap Nightmare</option>
<option value="The Three Trials Nightmare" class="set-pod">The Three Trials Nightmare</option>
<option value="Trouble in Tharbad Nightmare" class="set-pod">Trouble in Tharbad Nightmare</option>
<option value="" disabled="disabled">————————————————————</option>
<option value="We Must Away, Ere Break of Day Nightmare" class="set-pod">We Must Away, Ere Break of Day Nightmare</option>
<option value="Over the Misty Mountains Grim Nightmare" class="set-pod">Over the Misty Mountains Grim Nightmare</option>
<option value="Dungeons Deep and Caverns Dim Nightmare" class="set-pod">Dungeons Deep and Caverns Dim Nightmare</option>
<option value="Flies and Spiders Nightmare" class="set-pod">Flies and Spiders Nightmare</option>
<option value="The Lonely Mountain Nightmare" class="set-pod">The Lonely Mountain Nightmare</option>
<option value="The Battle of Five Armies Nightmare" class="set-pod">The Battle of Five Armies Nightmare</option>
<option value="" disabled="disabled">————————————————————</option>
<option value="A Shadow of the Past Nightmare" class="set-pod">A Shadow of the Past Nightmare</option>
<option value="A Knife in the Dark Nightmare" class="set-pod">A Knife in the Dark Nightmare</option>
<option value="Flight to the Ford Nightmare" class="set-pod">Flight to the Ford Nightmare</option>
<option value="" disabled="disabled">————————————————————</option>
<option value="First Age" class="set-expansion">First Age</option>
</select> *@
                </span>

                <span class="search-filter">
                <span class="search-label-short" title="Scenario">Scenario</span>
                @Html.DropDownListFor(x => x.Scenario, SearchViewModel.Scenarios, new { @class = "search-select" })
                </span>

                <span class="search-filter">
                <span class="search-label-short">Encounter</span>
                @Html.DropDownListFor(x => x.EncounterSet, SearchViewModel.EncounterSets, new { @class = "search-select" })
                </span>
            </div>
        </div>

        <div class="search-row">
            <div class="search-section">Type</div>
            <div class="search-items">
                <div class="search-sub-section">
                    <span class="search-filter">
                    <span class="search-label-short">Card Type</span>
                    @Html.DropDownListFor(x => x.CardType, SearchViewModel.CardTypes, new { @class = "search-select" })
                    </span>

                    <span class="search-filter">
                    <span class="search-label-short" title="Card Subtype">Subtype</span>
                    @Html.DropDownListFor(x => x.CardSubtype, SearchViewModel.CardSubtypes, new { @class = "search-select-short-padded" })
                    </span>

                    <span class="search-filter">
                    <span class="search-label-short" title="Deck Type">Deck Type</span>
                    @Html.DropDownListFor(x => x.DeckType, SearchViewModel.DeckTypes, new { @class = "search-select-short-padded" })
                    </span>
                </div>
                <div class="search-sub-section">
                    <span class="search-filter">
                    <span class="search-label-short">Sphere</span>
                    @Html.DropDownListFor(x => x.Sphere, SearchViewModel.Spheres, new { @class = "search-select-short-padded" })
                    </span>

                    <span class="search-filter">
                    <span class="search-label-short">Unique</span>
                    @Html.DropDownListFor(x => x.IsUnique, SearchViewModel.UniquenessValues, new { @class = "search-select-short-padded" })
                    </span>

                    <span class="search-filter">
                    <span class="search-label-short">Set Type</span>
                    @Html.DropDownListFor(x => x.SetType, SearchViewModel.SetTypeValues, new { @class = "search-select" })
                    </span>
                </div>
            </div>
        </div>

        <span style="width:100%;display:inline-block;text-align:center;"><a id="moreOptionsButton" href="#">More Search Options</a></span>
        <div id="moreOptionsContainer" style="display:none;">
        <div class="search-row">
            <div class="search-section">Cost</div>
            <div class="search-items">
                <span class="search-filter">
                <span class="search-label-short">Resource</span>
                @Html.DropDownListFor(x => x.CostOperator, SearchViewModel.NumericOperators, new { @class = "search-select-tiny" })
                @Html.DropDownListFor(x => x.Cost, SearchViewModel.ResourceCosts, new { @class = "search-select-short" })
                </span>

                <span class="search-filter">
                <span class="search-label-short">Threat</span>
                @Html.DropDownListFor(x => x.ThreatCostOperator, SearchViewModel.NumericOperators, new { @class = "search-select-tiny" })
                @Html.DropDownListFor(x => x.ThreatCost, SearchViewModel.ThreatCosts, new { @class = "search-select-short" })
                </span>

                <span class="search-filter">
                <span class="search-label-short">Engagement</span>
                @Html.DropDownListFor(x => x.EngagementCostOperator, SearchViewModel.NumericOperators, new { @class = "search-select-tiny" })
                @Html.DropDownListFor(x => x.EngagementCost, SearchViewModel.EngagementCosts, new { @class = "search-select-short" })
                </span>
            </div>
        </div>

        <div class="search-row">
            <div class="search-section">Stats</div>
            <div class="search-items">
                <div class="search-sub-section">
                    <span class="search-filter">
                    <span class="search-label-short"><img src="/Images/attack.gif" class="search-icon"></span>
                    @Html.DropDownListFor(x => x.AttackOp, SearchViewModel.NumericOperators, new { @class = "search-select-tiny" })
                    @Html.DropDownListFor(x => x.Attack, SearchViewModel.AttackStrengthValues, new { @class = "search-select-short" })
                    </span>

                    <span class="search-filter">
                    <span class="search-label-short"><img src="/Images/defense.gif" class="search-icon"></span>
                    @Html.DropDownListFor(x => x.DefenseOp, SearchViewModel.NumericOperators, new { @class = "search-select-tiny" })
                    @Html.DropDownListFor(x => x.Defense, SearchViewModel.DefenseStrengthValues, new { @class = "search-select-short" })
                    </span>

                    <span class="search-filter">
                    <span class="search-label-short">Hit Points</span>
                    @Html.DropDownListFor(x => x.HitPointsOp, SearchViewModel.NumericOperators, new { @class = "search-select-tiny" })
                    @Html.DropDownListFor(x => x.HitPoints, SearchViewModel.HitPointsValues, new { @class = "search-select-short" })
                    </span>
                </div>
                <div class="search-sub-section">
                    <span class="search-filter">
                    <span class="search-label-short"><img src="/Images/willpower.gif" class="search-icon"></span>
                    @Html.DropDownListFor(x => x.WillpowerOp, SearchViewModel.NumericOperators, new { @class = "search-select-tiny" })
                    @Html.DropDownListFor(x => x.Willpower, SearchViewModel.WillpowerStrengthValues, new { @class = "search-select-short" })
                    </span>

                    <span class="search-filter">
                    <span class="search-label-short"><img src="/Images/threat.png" class="search-icon"></span>
                    @Html.DropDownListFor(x => x.ThreatOp, SearchViewModel.NumericOperators, new { @class = "search-select-tiny" })
                    @Html.DropDownListFor(x => x.Threat, SearchViewModel.ThreatStrengthValues, new { @class = "search-select-short" })
                    </span>

                    <span class="search-filter">
                    <span class="search-label-short">Quest Points</span>
                    @Html.DropDownListFor(x => x.QuestPointsOp, SearchViewModel.NumericOperators, new { @class = "search-select-tiny" })
                    @Html.DropDownListFor(x => x.QuestPoints, SearchViewModel.QuestPointsValues, new { @class = "search-select-short" })
                </span>
                </div>
            </div>
        </div>

        <div class="search-row">
            <div class="search-section">Text</div>
            <div class="search-items">
                <span class="search-filter">
                <span class="search-label-short">Trait</span>
                @Html.DropDownListFor(x => x.Trait, SearchViewModel.Traits, new { @class = "search-select" })
                </span>

                <span class="search-filter">
                <span class="search-label-short">Keyword</span>
                @Html.DropDownListFor(x => x.Keyword, SearchViewModel.Keywords, new { @class = "search-select" })
                </span>

                <span class="search-filter">
                <span class="search-label-short">Victory</span>
                @Html.DropDownListFor(x => x.VictoryPoints, SearchViewModel.VictoryPointValues, new { @class = "search-select-short-padded" })
                </span>
            </div>
        </div>

        <div class="search-row">
            <div class="search-section">Category</div>
            <div class="search-items">
                <span class="search-filter">
                <span class="search-label-short" title="Player Card Category">Player</span>
                @Html.DropDownListFor(x => x.Category, SearchViewModel.Categories, new { @class = "search-select" })
                </span>

                <span class="search-filter">
                <span class="search-label-short" title="Encounter Card Category">Encounter</span>
                @Html.DropDownListFor(x => x.EncounterCategory, SearchViewModel.EncounterCategories, new { @class = "search-select" })
                </span>

                <span class="search-filter">
                <span class="search-label-short" title="Quest Card Category">Quest</span>
                @Html.DropDownListFor(x => x.QuestCategory, SearchViewModel.QuestCategories, new { @class = "search-select" })
                </span>
            </div>
        </div>

        <div class="search-row">
            <div class="search-section">Details</div>
            <div class="search-items">
                <span class="search-filter">
                <span class="search-label-short">Artist</span>
                @Html.DropDownListFor(x => x.Artist, SearchViewModel.Artists, new { @class = "search-select" })
                </span>
            </div>
        </div>

        </div>
    </div>
}
<div>
    @if (@Model.Cards.Count == 0)
    {
        <span>No Results Found</span> 
    }
    else if (@Model.Cards.Count == 1)
    {
        <span>1 Result Found</span>
    }
    else
    {
        <span>@Model.Cards.Count Results Found</span>
    }
</div>
<div>
@foreach (var card in @Model.Cards)
{    
    <hr style="color:#616161;" />
    if (!string.IsNullOrEmpty(@card.SearchDescription))
    {
        <div class="search-explanation search-explanation-default">
            <div id="search-explanation-text" class="search-explanation-container search-explanation-message" style="display:none;">
                <div class="search-explanation-content"><p>@card.SearchDescription (Score: @card.Score)</p></div>
            </div>
            <div class="search-explanation-container search-explanation-button">
                <div class="search-explanation-glyph search-explanation-content"><p>?</p></div>
            </div>
        </div>
    }
    <div style="margin:6px;border: 0px solid gray;border-radius: 8px;">
        <div>
            <div style="display:inline-block;">
                <div style="margin-bottom:2px;">
                @if (@card.IsUnique)
                {
                    <img src="/Images/unique-card.png" style="margin-bottom:-3px;margin-right:-4px;height:16px;width:16px;"/>
                }
                @Html.ActionLink(@card.FullTitle, "Details", new { id = @card.Slug }, new { style = "margin-bottom:2px;font-size:medium;font-weight:bold;display:inline-block;" })
            
            
                </div>
                <div>
                    <span class="detail-label">@card.SetName</span>
                    <span class="detail-label">@card.CountLabel</span>
                </div>
            </div>
            <div style="display:inline-block;">
                @if (@card.HasSphere)
                {
                    <span><img style="width:30px;height:30px;margin-bottom:4px;margin-left:6px;margin-right:1px;" src='@string.Format("/Images/{0}.png", @card.Sphere)' /></span>
                }
                @if (@card.HasEncounterSet)
                {
                    <span><img style="width:30px;height:30px;margin-bottom:4px;margin-left:6px;margin-right:1px;" src='@card.EncounterSetImagePath' /></span>
                }
            </div>
        </div>
        <div style="min-height: 183px;">
            <div style="float:left;margin-right:4px;">
                <a href="@Href(string.Format("/Cards/Details/{0}", @card.Slug))">
                    @if (@card.HasSecondImage)
                    {
                        <span style="text-align:left;">
                            <img src="@card.ImagePath1" style="height:180px;"/>
                            <img src="@card.ImagePath2" style="height:180px;margin-left:4px;"/>
                        </span>
                    }
                    else
                    {
                    <img src="@card.ImagePath" style="height:180px;"/>
                    }
                </a>
            </div>
        
            <div style="display:inline-block;margin-left:4px;min-width:30px;">
                @switch (@card.CardType)
                {
                    case CardType.Hero:
                        <span style="color:#616161;">(</span><span style="margin-left:4px;margin-right:4px;font-weight:bold;">@card.ThreatCost</span><span style="color:#616161;">)</span>
                        <span style="width:24px;margin-left:14px;"><span style="margin-right:2px;font-weight:bold;">@card.Willpower</span><img style="margin-bottom:-3px;" src="/Images/willpower.gif" /></span>
                        <span style="width:24px;margin-left:14px;"><span style="margin-right:2px;font-weight:bold;">@card.Attack</span><img style="margin-bottom:-3px;" src="/Images/attack.gif" /></span>
                        <span style="width:24px;margin-left:14px;"><span style="margin-right:2px;font-weight:bold;">@card.Defense</span><img style="margin-bottom:-3px;" src="/Images/defense.gif" /></span>
                        <span style="width:24px;margin-left:14px;"><span style="margin-right:2px;font-weight:bold;">@card.HitPoints</span><img style="margin-bottom:-4px;margin-left:-4px;width:20px;height:20px;" src="/Images/heart.png"/></span>
                        break;
                    case CardType.Ally:
                        <span style="color:#616161;">[</span><span style="margin-left:4px;margin-right:4px;font-weight:bold;">@card.ResourceCost</span><span style="color:#616161;">]</span>
                        <span style="width:24px;margin-left:14px;"><span style="margin-right:2px;font-weight:bold;">@card.Willpower</span><img style="margin-bottom:-3px;" src="/Images/willpower.gif" /></span>
                        <span style="width:24px;margin-left:14px;"><span style="margin-right:2px;font-weight:bold;">@card.Attack</span><img style="margin-bottom:-3px;" src="/Images/attack.gif" /></span>
                        <span style="width:24px;margin-left:14px;"><span style="margin-right:2px;font-weight:bold;">@card.Defense</span><img style="margin-bottom:-3px;" src="/Images/defense.gif" /></span>
                        <span style="width:24px;margin-left:14px;"><span style="margin-right:2px;font-weight:bold;">@card.HitPoints</span><img style="margin-bottom:-4px;margin-left:-4px;width:20px;height:20px;" src="/Images/heart.png"/></span>
                        break;
                    case CardType.Attachment:
                        <span style="width:50px;color:#616161;">[</span><span style="margin-left:4px;margin-right:4px;font-weight:bold;">@card.ResourceCost</span><span style="color:#616161;">]</span>
                        break;
                    case CardType.Event:
                        <span style="width:50px;color:#616161;">[</span><span style="margin-left:4px;margin-right:4px;font-weight:bold;">@card.ResourceCost</span><span style="color:#616161;">]</span>
                        break;
                    case CardType.Treasure:
                        <span style="width:50px;color:#616161;">[</span><span style="margin-left:4px;margin-right:4px;font-weight:bold;">@card.ResourceCost</span><span style="color:#616161;">]</span>
                        break;
                    case CardType.Enemy:
                    case CardType.Ship_Enemy:
                        <span style="color:#616161;">(</span><span style="margin-left:4px;margin-right:4px;font-weight:bold;">@card.EngagementCost</span><span style="color:#616161;">)</span>
                        <span style="width:24px;margin-left:14px;"><span style="margin-right:2px;font-weight:bold;">@card.Threat</span><img style="margin-bottom:-3px;" src="/Images/threat.png" /></span>
                        <span style="width:24px;margin-left:14px;"><span style="margin-right:2px;font-weight:bold;">@card.Attack</span><img style="margin-bottom:-3px;" src="/Images/attack.gif" /></span>
                        <span style="width:24px;margin-left:14px;"><span style="margin-right:2px;font-weight:bold;">@card.Defense</span><img style="margin-bottom:-3px;" src="/Images/defense.gif" /></span>
                        <span style="width:24px;margin-left:14px;"><span style="margin-right:2px;font-weight:bold;">@card.HitPoints</span><img style="margin-bottom:-4px;margin-left:-4px;width:20px;height:20px;" src="/Images/heart.png"/></span>
                        break;
                    case CardType.Location:
                        <span style="width:24px;"><span style="margin-right:2px;font-weight:bold;">@card.Threat</span><img style="margin-bottom:-3px;" src="/Images/threat.png" /></span>
                        <span style="width:60px;margin-left:14px;color:#616161;">(</span><span style="margin-left:4px;margin-right:4px;font-weight:bold;">@card.QuestPoints</span><span style="width:60px;color:#616161;">)</span>
                        break;
                    case CardType.Objective_Location:
                        <span style="width:60px;margin-left:14px;color:#616161;">(</span><span style="margin-left:4px;margin-right:4px;font-weight:bold;">@card.QuestPoints</span><span style="width:60px;color:#616161;">)</span>
                        break;
                    case CardType.Objective:
                    case CardType.Objective_Ally:
                    case CardType.Ship_Objective:
                        if (@card.CardType == CardType.Objective_Ally || @card.HasCharacterStats)
                        {
                        <span style="width:24px;"><span style="margin-right:2px;font-weight:bold;">@card.Willpower</span><img style="margin-bottom:-3px;" src="/Images/willpower.gif" /></span>
                        <span style="width:24px;margin-left:14px;"><span style="margin-right:2px;font-weight:bold;">@card.Attack</span><img style="margin-bottom:-3px;" src="/Images/attack.gif" /></span>
                        <span style="width:24px;margin-left:14px;"><span style="margin-right:2px;font-weight:bold;">@card.Defense</span><img style="margin-bottom:-3px;" src="/Images/defense.gif" /></span>
                        <span style="width:24px;margin-left:14px;"><span style="margin-right:2px;font-weight:bold;">@card.HitPoints</span><img style="margin-bottom:-4px;margin-left:-4px;width:20px;height:20px;" src="/Images/heart.png"/></span>
                        }
                        break;
                    case CardType.Quest:
                        <span style="margin-left:4px;font-weight:bold;">@card.StageNumber</span><span style="width:40px;margin-left:2px;color:#616161;font-size:10px;font-weight:bold;">@card.StageLetters</span>
                        <span style="width:40px;margin-left:14px;color:#616161;">(</span><span style="margin-left:4px;margin-right:4px;font-weight:bold;">@card.QuestPoints</span><span style="width:40px;color:#616161;">)</span>
                        break;
                    case CardType.Player_Side_Quest:
                        <span style="width:50px;color:#616161;">[</span><span style="margin-left:4px;margin-right:4px;font-weight:bold;">@card.ResourceCost</span><span style="color:#616161;">]</span>
                        <span style="width:40px;margin-left:14px;color:#616161;">(</span><span style="margin-left:4px;margin-right:4px;font-weight:bold;">@card.QuestPoints</span><span style="width:40px;color:#616161;">)</span>
                        break;
                    case CardType.Encounter_Side_Quest:
                        <span style="width:40px;margin-left:14px;color:#616161;">(</span><span style="margin-left:4px;margin-right:4px;font-weight:bold;">@card.QuestPoints</span><span style="width:40px;color:#616161;">)</span>
                        break;
                    default:
                        break;
                }
            </div>
            <div style="margin-left:2px;vertical-align:top;text-align:left;">
                @foreach (var trait in card.Traits)
                {
                    <i>@trait</i> @: &nbsp;
                }
                <br />
                @foreach (var keyword in card.Keywords)
                {
                    @keyword @: &nbsp;
                }
                @if (!string.IsNullOrEmpty(@card.Text))
                {
                    <div>@card.Text</div>
                }
                @if (!string.IsNullOrEmpty(@card.OppositeText))
                {
                    <hr style="margin-left:24px;margin-right:24px;"/>
                    <div>@card.OppositeText</div>
                }
                @if (!string.IsNullOrEmpty(@card.Shadow))
                {
                    <hr style="margin-left:24px;margin-right:24px;"/>    
                    <div>@card.Shadow</div>
                }
            </div>
        </div>
    </div>
}
</div>