<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        @*<!--<title>@ViewBag.Title - Hall of Beorn</title>-->*@
        <title>Hall of Beorn</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="apple-touch-icon" href="~/Images/HallOfBeorn-AppleTouchIcon.png"/>
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div style="display:inline-block;text-align:center;">
                    <a href="/Home" style="text-align:center;display:inline-block;"><img src="/Images/Happy_Grizzly_Bear.jpg" width="64" height="48" /></a>
                    <span class="site-title" style="color: brown; font-family:Tolkien;min-width:230px;display:inline-block;margin-left:0px;">HALL OF BEORN</span>
                    <div style="min-width:230px;margin-bottom:6px;text-align:center;">The Lord of the Rings LCG Card Search</div>
                </div>
                <div>
                    <!--
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                        -->
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li><a title="Browse Products" href="/Cards/Browse">Browse</a></li>
                            <li><a title="Browse Scenarios" href="/Cards/Scenarios/">Scenarios</a></li>
                            <li><a title="Decks" href="/Cards/Decks">Decks</a></li>
                            <li><a title="Hall of Beorn Blog" href="http://hallofbeorn.wordpress.com" target="_blank">Blog</a></li>
                            <li><a title="The Grey Company Podcast" href="http://greycompanypodcast.wordpress.com/" target="_blank">Podcast</a></li>
                            <li><a title="Patreon Page" href="https://www.patreon.com/Beorn" target="_blank"><img title="Patreon Donors" alt="Patreon Donors" src="/Images/Patreon.png" /></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    @*<p>&copy; @DateTime.Now.Year - Hall of Beorn</p>*@
                    <p>This website is not produced, endorsed, supported, or affiliated with Fantasy Flight Games. The copyrightable portions of The Lord of the Rings: The Card Game and its expansions are © 2011 - @DateTime.Now.Year Fantasy Flight Publishing, Inc. The Lord of the Rings, and the characters, items, events and places therein are trademarks or registered trademarks of The Saul Zaentz Company d/b/a Middle-earth Enterprises and are used, under license, by Fantasy Flight Games. Living Card Game, LCG, LCG logo and Fantasy Flight Supply are trademarks and/or registered trademarks of Fantasy Flight Publishing, Inc. All Rights Reserved to their respective owners.</p>
                </div>
            </div>
        </footer>
        @RenderSection("scripts", required: false)
    </body>
</html>
