<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        @*<!--<title>@ViewBag.Title - Hall of Beorn</title>-->*@
        <title>Hall of Beorn</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="apple-touch-icon" href="~/Images/HallOfBeorn-AppleTouchIcon.png"/>
        @* <link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" type="text/css" /> *@
        <meta name="viewport" content="width=device-width" />
        @* @Styles.Render("~/Content/css") *@
        @* <script src="/Scripts/modernizr-2.6.2.js" defer></script> *@
        <script src="/Scripts/jquery-1.8.2.min.js" defer></script>
        <script src="/Scripts/jquery-ui-1.8.24.min.js" defer></script>
        @*
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui") *@

        <noscript>
            <link rel="stylesheet" type="text/css" href="/Content/themes/base/minified/jquery-ui.min.css" />
            <link rel="stylesheet" type="text/css" href="/Content/Site-1.0.4.min.css" />
        </noscript>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div style="display:inline-block;text-align:center;">
                    <div style="display:inline-block">
                        <a href="/LotR" style="text-align:center;display:inline-block;"><img src="/Images/LotRBeornSmall.jpg" width="64" height="48" title="Lord of the Rings LCG" /></a>
                        <span class="site-title" style="color: brown; font-family:Tolkien;min-width:180px;display:inline-block;margin:6px 0px -10px 0px;font-size:27px; vertical-align:top;">HALL of BEORN</span>
                        <a href="/Digital" style="text-align:center;display:inline-block;"><img src="/Images/LotRDigitalBeornSmall.jpg" width="64" height="48" title="Lord of the Rings ACG" /></a>
                        @* <a href="/Arkham" style="text-align:left"><img src="/Images/ArkhamBeornSmall.jpg" width="64" height="48" title="Arkham Horror LCG Card Search" style="margin-bottom:-4px;"/></a> *@
                    </div>
                    <div style="min-width:200px;margin:-12px 0px 16px 0px;text-align:center">LotR LCG Card Search</div>
                </div>
                <div>
                    @*
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    *@

                    <nav>
                        @if (@Request.Url.LocalPath.Contains("/LotR")) {
                        <ul id="menu">
                            <li><a title="Search Cards" href="/LotR">LotR</a></li>
                            <li><a title="Browse Products" href="/LotR/Browse">Browse</a></li>
                            <li><a title="Browse Scenarios" href="/LotR/Scenarios/">Scenarios</a></li>
                            <li><a title="Browse Characters" href="/LotR/Characters/">Characters</a></li>
                            <li><a title="Browse Creators" href="/LotR/Creators" target="_blank">Creators</a></li>
                            <li><a title="Patreon Page" href="https://www.patreon.com/Beorn" target="_blank"><img title="Patreon Donors" alt="Patreon Donors" src="/Images/Patreon.png" /></a></li>
                        </ul>
                        } else if (@Request.Url.LocalPath.Contains("/Digital")) {
                        <ul id="menu">
                            <li><a title="Search Cards" href="/Digital">ACG</a></li>
                            @* <li><a title="Browse Characters" href="/LotR/Characters/">Characters</a></li> *@
                            <li><a title="Patreon Page" href="https://www.patreon.com/Beorn" target="_blank"><img title="Patreon Donors" alt="Patreon Donors" src="/Images/Patreon.png" /></a></li>
                        </ul>
                        } @* else if (@Request.Url.LocalPath.Contains("/Arkham")) {
                        <ul id="menu">
                            <li>@Html.ActionLink("Arkham", "Search", "Arkham")</li>
                            <li><a title="Mythos Busters Podcast" href="https://mythosbusterspodcast.wordpress.com/" target="_blank">Mythos Busters</a></li>
                            <li><a title="Patreon Page" href="https://www.patreon.com/Beorn" target="_blank"><img title="Patreon Donors" alt="Patreon Donors" src="/Images/Patreon.png" /></a></li>
                        </ul>
                        } *@
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>Card scans thanks to <a href="http://octgngames.com/lotrlcg/" title="The Lord of the Rings: The Card Game on OCTGN" target="_blank">GeckoTH</a>, Mr. Underhill, and the Lord of the Rings LCG Community. Quest map thanks to Ecthelion. Deck and card popularity data is kindly supplied by <a href="http://ringsdb.com/" title="RingsDB Deckbuilder for The Lord of the Rings LCG" target="_blank">RingsDB</a>. Scenario difficulty data is provided by <a href="http://www.lotr-lcg-quest-companion.gamersdungeon.net/home.html" title="The Lord of the Rings LCG Quest Companion" target="_blank">The LotR LCG Quest Companion</a>.</p>
                    <p>This website is not produced, endorsed, supported, or affiliated with Fantasy Flight Games. The copyrightable portions of The Lord of the Rings: The Card Game and its expansions are © 2011 - @DateTime.Now.Year Fantasy Flight Publishing, Inc. The Lord of the Rings, and the characters, items, events and places therein are trademarks or registered trademarks of The Saul Zaentz Company d/b/a Middle-earth Enterprises and are used, under license, by Fantasy Flight Games. Living Card Game, LCG, LCG logo and Fantasy Flight Supply are trademarks and/or registered trademarks of Fantasy Flight Publishing, Inc. All Rights Reserved to their respective owners.</p>
                </div>
            </div>
            <script type="text/javascript">
                window.addEventListener('DOMContentLoaded', function () {
                    var cssLink1 = document.createElement('link');
                    cssLink1.rel = 'stylesheet';
                    cssLink1.href = '/Content/themes/base/minified/jquery-ui.min.css';
                    cssLink1.type = 'text/css';
                    var linkElem1 = document.getElementsByTagName('link')[0];
                    linkElem1.parentNode.insertBefore(cssLink1, linkElem1);

                    var cssLink2 = document.createElement('link');
                    cssLink2.rel = 'stylesheet';
                    cssLink2.href = '/Content/Site-1.0.4.min.css';
                    cssLink2.type = 'text/css';
                    var linkElem2 = document.getElementsByTagName('link')[0];
                    linkElem2.parentNode.insertBefore(cssLink2, linkElem2);
                });
        </script>
        </footer>
        @RenderSection("scripts", required: false)
    </body>
</html>
