@using HallOfBeorn.Models.Arkham.ViewModels
@model ArkhamCardViewModel

@{
    ViewBag.Title = @Model.DisplayName;
}

<a href="/Arkham">Back</a>
<div>
    <div style="display: inline-block">
        <div><img src="@Model.ImagePathFront" height="@Model.ImageHeight" width="@Model.ImageWidth" /></div>
        @if (!string.IsNullOrEmpty(@Model.ImagePathBack))
        {
            <div><img src="@Model.ImagePathBack" height="@Model.ImageHeightBack"/></div>
        }
    </div>
    <div style="display:inline-block;max-width:500px;vertical-align:top;margin-left: 4px;">
    <div class="arkham-statSection">
        @if (!string.IsNullOrEmpty(@Model.ClassName))
        {
            <div class="arkham-statBox"><a href="@Model.ClassUrl">@Html.Raw(@Model.ClassIcon)</a></div>
        }
        <div class="arkham-statBox top">
            <div class="arkham-title">
            @if (@Model.IsUnique)
            {
                <a href="@Model.SearchUrl"><img src="/Images/Arkham/Unique.png" class="arkham-unique"/>@Model.DisplayName</a>
            } else {
                <a href="@Model.SearchUrl">@Model.DisplayName</a>
            }
            </div>
            @if (!string.IsNullOrEmpty(@Model.Subtitle)) {
                <div class="arkham-subtitle">@Model.Subtitle</div>
            }
        </div>
                    
        @if (@Model.CardType == "Investigator") {
            <div class="arkham-statBox arkham-skillSection">
                <a href="/Arkham?Willpower=@Model.Willpower&WillpowerOp=eq"><span class="arkham-skillBox"><span class="arkham-skillValue">@Model.Willpower</span><img src="/Images/Arkham/Willpower.png" title="Willpower" class="arkham-skillIcon"/></span></a>
                <a href="/Arkham?Intellect=@Model.Intellect&IntellectOp=eq"><span class="arkham-skillBox"><span class="arkham-skillValue">@Model.Intellect</span><img src="/Images/Arkham/Intellect.png" title="Intellect" class="arkham-skillIcon"/></span></a>
                <a href="/Arkham?Combat=@Model.Combat&CombatOp=eq"><span class="arkham-skillBox"><span class="arkham-skillValue">@Model.Combat</span><img src="/Images/Arkham/Combat.png" title="Combat" class="arkham-skillIcon"/></span></a>
                <a href="/Arkham?Agility=@Model.Agility&AgilityOp=eq"><span class="arkham-skillBox"><span class="arkham-skillValue">@Model.Agility</span><img src="/Images/Arkham/Agility.png" title="Agility" class="arkham-skillIcon"/></span></a>
            </div>
        }

        @if (!string.IsNullOrEmpty(@Model.Cost)) {
            <div class="arkham-statBox top"><a href="/Arkham?Cost=@Model.Cost&CostOp=eq"><span class="arkham-circle arkham-cost" title="Cost"><span class="arkham-valueInner">@Model.Cost</span></span></a></div>
        }
        @if (!string.IsNullOrEmpty(@Model.ClueThreshold)) {
            <div class="arkham-statBox top"><div class="arkham-circle arkham-clueValue" title="Clue Threshold"><div class="arkham-valueInner">@Html.Raw(@Model.ClueThreshold)</div></div></div>
        }
        @if (!string.IsNullOrEmpty(@Model.DoomThreshold)) {
            <div class="arkham-statBox top"><div class="arkham-doomThreshold" title="Doom Threshold"><div class="arkham-valueInner">@Html.Raw(@Model.DoomThreshold)</div></div></div>
        }
        @if (!string.IsNullOrEmpty(@Model.Shroud)) {
            <div class="arkham-statBox top"><div class="arkham-circle arkham-shroud" title="Shroud"><div class="arkham-valueInner">@Html.Raw(@Model.Shroud)</div></div></div>    
        }
        @if (!string.IsNullOrEmpty(@Model.ClueValue)) {
            <div class="arkham-statBox top"><div class="arkham-circle arkham-clueValue" title="Clue Value"><div class="arkham-valueInner">@Html.Raw(@Model.ClueValue)</div></div></div>   
        }
        @if (@Model.CardType == "Enemy" || @Model.BackCardType == "Enemy") {
            <div class="arkham-enemyStatSection">@Html.Raw(@Model.EnemyStatHtml())</div>
        }
    </div>
            
    @if (@Model.HasSkillIcons()) {
        <div class="arkham-statSection">
            @foreach (var icon in @Model.SkillIcons()) {
                <span>@Html.Raw(icon.ToString())</span>
            }
        </div>
    }

    @if (@Model.HasTraits()) {
        <div class="arkham-statSection">
            @foreach (var trait in @Model.Traits()) {
                <span>@Html.Raw(trait.ToString())</span>
            }
        </div>
    }

    @Html.Raw(@Model.BodyHtml())

    <div class="arkham-statSection">
        @if (!string.IsNullOrEmpty(@Model.Health) || !string.IsNullOrEmpty(@Model.Sanity)) {
            <a href="/Arkham?Health=@Model.Health"><span class="arkham-health" title="Health"><span class="arkham-energyInner arkham-healthInner">@Model.Health</span></span></a>
            <a href="/Arkham?Sanity=@Model.Sanity"><span class="arkham-sanity" title="Sanity"><span class="arkham-energyInner arkham-sanityInner">@Model.Sanity</span></span></a>
        }

        @if (!string.IsNullOrEmpty(@Model.SlotImagePath)) {
            <div class="arkham-slot"><a href="@Model.SlotSearch" target="_blank"><img src="@Model.SlotImagePath" title="Asset Slot" height="32" width="32"/></a></div>
        }
    </div>

    @if (!string.IsNullOrEmpty(@Model.Victory)) {
        <div class="arkham-statSection"><a href="/Arkham?VictoryPoints=@Model.Victory" title="Victory Points"><b>@Model.Victory.</b></a></div>
    }

    <div class="arkham-statSection">
            @if (@Model.Damage > 0) {
                <div class="arkham-statBox arkham-damageBox">
                @for (var i=0;i<@Model.Damage;i++) {
                    <img src="/Images/Arkham/Health.png" height="15" width="12" title="Damage"/> 
                }
                </div>
            }

            @if (@Model.Horror > 0) {
                <div class="arkham-statBox arkham-horrorBox">
                @for (var i=0;i<@Model.Horror;i++) {
                    <img src="/Images/Arkham/Sanity.png" height="14" width="17" title="Horror" />
                }
                </div>
            }
    </div>
</div>
</div>