@using HallOfBeorn.Models.Arkham.ViewModels
@model ArkhamSearchViewModel

@{
    ViewBag.Title = "Arkham Horror: The Card Game - Search";
}

@using (Html.BeginForm("Search", "Arkham", FormMethod.Post))
{
    <div style="margin-bottom:10px;">
        <div style="display:inline-block;min-width:300px;margin-right:4px;">@Html.TextBoxFor(x => x.Query, new { style = "text-align:left;width:95%;margin-right:4px;" })</div>
        <div style="display:inline-block;">
            <input type="submit" value="Search" class="search-button" />
            <a id="resetButton" href="#" class="clear-button">Clear</a>
            <span style="display:inline-block;">
            <span class="search-label-right">Sort</span>
            @Html.DropDownListFor(x => x.Sort, ArkhamSearchViewModel.Sorts, new { @class = "search-select-medium" })
            </span>
            <span style="display:inline-block">
            <span class="search-label-right">View</span>
            @Html.DropDownListFor(x => x.View, ArkhamSearchViewModel.Views, new { @class = "search-select-medium" })
            </span>
        </div>
    </div>

     <div class="search-row">
            <div class="search-items">
                <span class="search-filter">
                <span class="search-label-short">Product</span>
                @Html.DropDownList("Product", ArkhamSearchViewModel.Products, new { @class = "search-select" })
                </span>

                @*
                <span class="search-filter">
                <span class="search-label-short" title="Scenario">Scenario</span>
                @Html.DropDownListFor(x => x.Scenario, SearchViewModel.Scenarios, new { @class = "search-select" })
                </span>

                <span class="search-filter">
                <span class="search-label-short">Encounter</span>
                @Html.DropDownListFor(x => x.EncounterSet, SearchViewModel.EncounterSets, new { @class = "search-select" })
                </span>
                *@
            </div>
        </div>
    
    <div class="search-row">
        <div class="search-item">
            <span class="search-filter">
            <span class="search-label-short">Card Type</span>
            @Html.DropDownListFor(x => x.CardType, ArkhamSearchViewModel.CardTypes, new { @class = "search-select-medium" })
            </span>

            <span class="search-filter">
            <span class="search-label-short">Card Class</span>
            @Html.DropDownListFor(x => x.CardClass, ArkhamSearchViewModel.CardClasses, new { @class = "search-select-medium" })
            </span>
        </div>
    </div>
        <div class="search-row">
        <div class="search-item">
            <span class="search-filter">
            <span class="search-label-short">Location Symbol</span>
            @Html.DropDownListFor(x => x.LocationSymbol, ArkhamSearchViewModel.ConnectionSymbols, new { @class = "search-select-medium" })
            </span>

            <span class="search-filter">
            <span class="search-label-short">Connects To</span>
            @Html.DropDownListFor(x => x.ConnectsTo, ArkhamSearchViewModel.ConnectionSymbols, new { @class = "search-select-medium" })
            </span>
        </div>
    </div>
    <div class="search-row">
        <div class="search-item">
            <span class="search-filter">
            <span class="search-label-short">Willpower</span>
            @Html.DropDownListFor(x => x.Willpower, ArkhamSearchViewModel.WillpowerValues, new { @class = "search-select-short" })
            </span>

            <span class="search-filter">
            <span class="search-label-short">Intellect</span>
            @Html.DropDownListFor(x => x.Intellect, ArkhamSearchViewModel.IntellectValues, new { @class = "search-select-short" })
            </span>

            <span class="search-filter">
            <span class="search-label-short">Combat</span>
            @Html.DropDownListFor(x => x.Combat, ArkhamSearchViewModel.CombatValues, new { @class = "search-select-short" })
            </span>

            <span class="search-filter">
            <span class="search-label-short">Agility</span>
            @Html.DropDownListFor(x => x.Agility, ArkhamSearchViewModel.AgilityValues, new { @class = "search-select-short" })
            </span>
        </div>
    </div>
    <div class="search-row">
        <div class="search-item">
            <span class="search-filter">
            <span class="search-label-short">Traits</span>
            @Html.DropDownListFor(x => x.Trait, ArkhamSearchViewModel.Traits, new { @class = "search-select-medium" })
            </span>
        </div>    
    </div>
    
    <span class="results-count-label">@Model.GetResultsCount()</span>
    
    foreach (var card in @Model.Cards())
    {
        <hr style="color:#616161;" />
    
        if (!@Model.View.HasValue || @Model.View.Value == ArkhamSearchView.Card || @Model.View.Value == ArkhamSearchView.Card_Image) {
            <div style="display:inline-block"><img src="@card.ImagePathFront" height="@card.ImageHeight" /></div>
            if (!string.IsNullOrEmpty(@card.ImagePathBack))
            {
                <div style="display:inline-block"><img src="@card.ImagePathBack" height="@card.ImageHeight"/></div>
            }
        }
        <div style="display:inline-block">
            <div style="font-size:1.75em;font-family:Verdana;">
            @if (!string.IsNullOrEmpty(@card.ClassName))
            {
                <img src="@card.ClassIcon" width="32" height="32" title="Class: @card.ClassName"/>@: &nbsp;
            }
            @if (@card.IsUnique)
            {
                <a href="@card.SearchUrl"><img src="/Images/Arkham/Unique.png" style="margin-right:8px;margin-bottom:-2px;height:22px;width:22px;"/>@card.DisplayName</a>
            } else {
                <a href="@card.SearchUrl">@card.DisplayName</a>
            }
            </div>
            @if (!string.IsNullOrEmpty(@card.Subtitle)) {
                <h3>@card.Subtitle</h3>
            }
            <div><b>@card.CardType</b></div>
            @if (@card.HasTraits()) {
                <div class="arkham-statSection">
                    @foreach (var trait in @card.Traits()) {
                        <span>@Html.Raw(trait.ToString())</span>
                    }
                </div>
            }
            @switch (@card.CardType)
            {
                case "Investigator":
                    <div>
                        <span>@card.Willpower <img src="/Images/Arkham/Willpower.png" title="Willpower" /></span>
                        <span>@card.Intellect <img src="/Images/Arkham/Intellect.png" title="Intellect"/></span>
                        <span>@card.Combat <img src="/Images/Arkham/Combat.png" title="Combat"/></span>
                        <span>@card.Agility <img src="/Images/Arkham/Agility.png" title="Agility"/></span>
                    </div>
                    <div class="arkham-statSection">
                        <span class="arkham-health" title="Health"><span class="arkham-energyInner arkham-healthInner">@card.Health</span></span>
                        <span class="arkham-sanity" title="Sanity"><span class="arkham-energyInner arkham-sanityInner">@card.Sanity</span></span>
                    </div>
                    break;
                case "Asset":
                    <div><span class="arkham-circle arkham-cost" title="Cost"><span class="arkham-valueInner">@card.Cost</span></span></div>
                    break;
                case "Location":
                    <div>
                        <div class="arkham-circle arkham-shroud" title="Shroud"><div class="arkham-valueInner">@Html.Raw(@card.Shroud)</div></div>
                        <div class="arkham-circle arkham-clueValue" title="Clue Value"><div class="arkham-valueInner">@Html.Raw(@card.ClueValue)</div></div>
                    </div>
                    break;
                case "Enemy":
                    <div class="arkham-statSection">
                        <div class="arkham-stat"><div class="arkham-statSquare" title="Enemy Fight Value"><div class="arkham-valueInner">@Html.Raw(@card.FightValue)</div></div><img src="/Images/Arkham/Combat.png" title="Enemy Fight Value"/></div>
                        <div class="arkham-stat"><div class="arkham-statSquare" title="Enemy Health Value"><div class="arkham-valueInner">@Html.Raw(@card.HealthValue)</div></div><img src="/Images/Arkham/EnemyHealth.png" title="Enemy Health Value" width="21" height="21"/></div>
                        <div class="arkham-stat"><div class="arkham-statSquare" title="Enemy Evade Value"><div class="arkham-valueInner">@Html.Raw(@card.EvadeValue)</div></div><img src="/Images/Arkham/Agility.png" title="Enemy Evade Value"/></div>
                    </div>
                    <div class="arkham-statSection">
                        <span class="arkham-health" title="Damage"><span class="arkham-energyInner arkham-healthInner">@card.Damage</span></span>
                        <span class="arkham-sanity" title="Horror"><span class="arkham-energyInner arkham-sanityInner">@card.Horror</span></span>
                    </div>
                    break;    
            }
            @if ((!@Model.View.HasValue || @Model.View.Value == ArkhamSearchView.Card || @Model.View.Value == ArkhamSearchView.Card_Text) && !string.IsNullOrEmpty(@card.BodyHtml()))
            {
                @Html.Raw(@card.BodyHtml())
            }
        </div>
    }
}